<a href="https://colab.research.google.com/github/akheel143/PYTHON-Different-types-of-pattern/blob/main/Python_Pattern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Number pattern

Triangle pattern

Star (*) or asterisk pattern

Pyramid pattern

Inverted pyramid pattern

Half pyramid pattern

Diamond Shaped pattern

Characters or alphabets pattern

Square pattern

Programs to print number pattern

In [ ]:
for i in range(6):
  for j in range(i):
    print(i,end='')
  print("  ")

1
22
333
4444
55555

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end='')
  print("  ")

1
12
123
1234
12345

In [ ]:
rows = 5
for i in range(rows,1,-1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

1 2 3 4 5
1 2 3 4
1 2 3
1 2

In [ ]:
x=2
for i in range(1,6):
  for j in range(1,i):
    print(x,end='')
  print('')

2
22
222
2222

In [ ]:
x=2
for i in range(6,1,-1):
  for j in range(1,i):
    print(x,end='')
  print('')

22222
2222
222
22
2

In [ ]:
#method1
#print odd pattern
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print((i * 2 - 1), end=" ")
        j = j + 1
    i = i + 1
    print('')

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [ ]:
#method2
#print odd pattern
for i in range(1,6):
  for j in range(i):
    print(i*2-1,end=' ')
  print(' ')

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [ ]:
rows=5
i=1
while i<=rows:
  j=1
  while j<=i:
    print(i*2-1,end=' ')
    j+=1
  i+=1
  print('')

1
33
555
7777
99999

In [ ]:
rows=5
i=1
while i<=rows:
  j=1
  while j<=i:
    print(i+2,end='')
    j+=1
  i+=1
  print('')

3
44
555
6666
77777

In [ ]:
start = 1
stop = 2
current_num = stop
for row in range(2, 6):
    for col in range(start, stop):
        current_num -= 1
        print(current_num, end=' ')
    print("")
    start = stop
    stop += row
    current_num = stop

1
3 2
6 5 4
10 9 8 7

In [ ]:
rows = 6
for i in range(1, rows):
    num = 1
    for j in range(rows, 0, -1):
        if j > i:
            print(" ", end=' ')
        else:
            print(num, end=' ')
            num += 1
    print("")

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [ ]:
rows=6
for i in range(1,rows):
  num=1
  for j in range(rows,0,-1):
    if j>i:
      print(' ',end='')
    else:
      print(num,end='')
      num+=1
  print('')

     1
    12
   123
  1234
 12345

Pascalâ€™s triangle pattern using numbers

In [ ]:
def print_pascal_triangle(size):
    for i in range(0, size):
        for j in range(0, i + 1):
            print(decide_number(i, j), end=" ")
        print()
def decide_number(n, k):
    num = 1
    if k > n - k:
        k = n - k
    for i in range(0, k):
        num = num * (n - i)
        num = num // (i + 1)
    return num
# set rows
rows = 7
print_pascal_triangle(rows)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [ ]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, rows + 1):
        if j <= i:
            print(i, end=' ')
        else:
            print(j, end=' ')
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [ ]:
rows = 8
# rows = int(input("Enter the number of rows "))
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        # multiplication current column and row
        square = i * j
        print(i * j, end='  ')
    print()

1
2  4
3  6  9
4  8  12  16
5  10  15  20  25
6  12  18  24  30  36
7  14  21  28  35  42  49
8  16  24  32  40  48  56  64

Star patterns

In [103]:
# number of rows
rows = 5
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, i + 1):
        # print star
        print("*", end=' ')
    # new line after each row
    print("\r")

*
* *
* * *
* * * *
* * * * *

In [102]:
for i in range(1,6):
  for j in range(6,1,-1):
    if j>i:
      print(' ',end='')
    else:
      print('*',end='')
  print('')
print('\n')

for i in range(1,6):
  for j in range(6,1,-1):
    if j>i:
      print(' ',end='')
    else:
      print('*',end=' ')
  print('')
print('\n')

for i in range(1,6):
  for j in range(6,0,-1):
    if j<i:
      print(' ',end='')
    else:
      print('*',end='')
  print('')
print('\n')

    *
   **
  ***
 ****



    *
   * *
  * * *
 * * * *


******
*****
****
***
**

In [63]:
# number of rows
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    # process each column
    for j in range(0, k):
        # print space in pyramid
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        # display star
        print("* ", end="")
    print("")

        *
      * *
    * * *
  * * * *
* * * * *

In [110]:
rows = 5
k = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [111]:
rows = 5
i = rows
while i >= 1:
    j = rows
    while j > i:
        # display space
        print(' ', end=' ')
        j -= 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i -= 1

* * * * *
  * * * *
    * * *
      * *
        *

In [123]:
print("Print equilateral triangle Pyramid using asterisk symbol ")
# printing full Triangle pyramid using stars
size = 7
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    # decrementing m after each loop
    m = m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

Print equilateral triangle Pyramid using asterisk symbol
            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

In [124]:
rows = 5
i = 1
while i <= rows:
    j = i
    while j < rows:
        # display space
        print(' ', end=' ')
        j += 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows
while i >= 1:
    j = i
    while j <= rows:
        print(' ', end=' ')
        j += 1
    k = 1
    while k < i:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [125]:
rows = 5
i = 0
while i <= rows - 1:
    j = 0
    while j < i:
        # display space
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [126]:
rows = 14
print("*" * rows, end="\n")
i = (rows // 2) - 1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*

In [127]:
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    for j in range(0, k):
        print(end=" ")
    k = k - 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("")
    
k = rows - 2

for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("")

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [128]:
rows = 5
i = 1
while i <= rows:
    j = rows
    while j > i:
        # display space
        print(' ', end=' ')
        j -= 1
    print('*', end=' ')
    k = 1
    while k < 2 * (i - 1):
        print(' ', end=' ')
        k += 1
    if i == 1:
        print()
    else:
        print('*')
    i += 1

i = rows - 1
while i >= 1:
    j = rows
    while j > i:
        print(' ', end=' ')
        j -= 1
    print('*', end=' ')
    k = 1
    while k <= 2 * (i - 1):
        print(' ', end=' ')
        k += 1
    if i == 1:
        print()
    else:
        print('*')
    i -= 1

        *
      *   *
    *       *
  *           *
*               *
  *             *
    *         *
      *     *
        *

Alphabets and letters pattern

In [129]:
# ASCII number of 'A'
ascii_number = 65
rows = 7
for i in range(0, rows):
    for j in range(0, i + 1):
        character = chr(ascii_number)
        print(character, end=' ')
        ascii_number += 1
    print(" ")

A
B C
D E F
G H I J
K L M N O
P Q R S T U
V W X Y Z [ \

In [130]:
word = "Python"
x = ""
for i in word:
    x += i
    print(x)

P
Py
Pyt
Pyth
Pytho
Python

In [131]:
print("Print equilateral triangle Pyramid with characters ")
size = 7
asciiNumber = 65
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    m = m - 1
    for j in range(0, i + 1):
        character = chr(asciiNumber)
        print(character, end=' ')
        asciiNumber += 1
    print(" ")

Print equilateral triangle Pyramid with characters
            A
           B C
          D E F
         G H I J
        K L M N O
       P Q R S T U
      V W X Y Z [ \

In [132]:
# Same character pattern
character = 'V'
# convert char to ASCII
char_ascii_no = ord(character)
for i in range(0, 5):
    for j in range(0, i + 1):
        # Convert the ASCII value to the character
        user_char = chr(char_ascii_no)
        print(user_char, end=' ')
    print()

V
V V
V V V
V V V V
V V V V V

More miscellaneous Patterns

In [ ]:
# Pyramid of horizontal tables of numbers
rows = 10
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(i * j, end=' ')
    print()

In [ ]:
rows = 9
for i in range(1, rows):
    for j in range(-1 + i, -1, -1):
        print(format(2 ** j, "4d"), end=' ')
    print("")

In [133]:
rows = 9
for i in range(1, rows):
    for i in range(0, i, 1):
        print(format(2 ** i, "4d"), end=' ')
    for i in range(-1 + i, -1, -1):
        print(format(2 ** i, "4d"), end=' ')
    print("")

   1
   1    2    1
   1    2    4    2    1
   1    2    4    8    4    2    1
   1    2    4    8   16    8    4    2    1
   1    2    4    8   16   32   16    8    4    2    1
   1    2    4    8   16   32   64   32   16    8    4    2    1
   1    2    4    8   16   32   64  128   64   32   16    8    4    2    1

In [134]:
current_num = 1
stop = 2
rows = 3

for i in range(rows):
    for column in range(1, stop):
        print(current_num, end=' ')
        current_num += 1
    print("")
    stop += 2

1
2 3 4
5 6 7 8 9

In [135]:
current_num = 1
rows = 4
stop = 2
for i in range(rows):
    for column in range(1, stop):
        print(current_num, end=' ')
        current_num += 1
    print("")
    stop += 1

1
2 3
4 5 6
7 8 9 10

In [136]:
rows = 5
last_num = 2 * rows
even_num = last_num
for i in range(1, rows + 1):
    even_num = last_num
    for j in range(i):
        print(even_num, end=' ')
        even_num -= 2
    print("\r")

10
10 8
10 8 6
10 8 6 4
10 8 6 4 2

In [137]:
rows = 6
for i in range(1, rows + 1):
    for j in range(1, i - 1):
        print(j, end=" ")
    for j in range(i - 1, 0, -1):
        print(j, end=" ")
    print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [138]:
rows = 7
for i in range(0, rows):
    for j in range(0, i + 1):
        print(i * j, end='  ')
    print()

0
0  1
0  2  4
0  3  6  9
0  4  8  12  16
0  5  10  15  20  25
0  6  12  18  24  30  36

In [139]:
rows = 5
for i in range(0, rows + 1, 1):
    for j in range(i + 1, rows + 1, 1):
        print(j, end=' ')
    print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [140]:
rows = 6
for i in range(0, rows):
    for j in range(rows - 1, i, -1):
        print(j, '', end='')
    for l in range(i):
        print('    ', end='')
    for k in range(i + 1, rows):
        print(k, '', end='')
    print('\n')

5 4 3 2 1 1 2 3 4 5

5 4 3 2     2 3 4 5

5 4 3         3 4 5

5 4             4 5

5                 5

In [141]:
row = 4
for i in range(0, row):
    c = 1
    print(c, end=' ')
    for j in range(row - i - 1, 0, -1):
        print('*', end=' ')
        c = c + 1
        print(c, end=' ')
    print('\n')

1 * 2 * 3 * 4

1 * 2 * 3

1 * 2

1

In [142]:
num = 4
counter = 0
for x in range(0, num):
    for y in range(0, x + 1):
        print(counter, end=" ")
        counter = 2 ** (x + 1)
    print()

0
2 4
4 8 8
8 16 16 16

In [143]:
count=1
flag=0
num=int(input('Enter number:'))
row=(num)
col=2
for i in range(row):
    for j in range(col):
        if flag==0:
            print(count,end='')
        else:
            print('*',end='')
            
    if i%2==0:
        flag=1
        count+=1
    else:
        flag=0
    col+=1
    print('\r')

Enter number:6
11
***
2222
*****
333333
*******

In [144]:
for i in range(5):
    for j in range(i+1, 7):
        print(j, end="")
    print()
for i in range(6):
    for j in range(6-i, 7):
        print(j, end="")
    print()

123456
23456
3456
456
56
6
56
456
3456
23456
123456

In [145]:
print("------")
for i in range(5):
    for j in range(1):
        print("|", end="")
    for j in range(5-i-1, 0, -1):
        print(" ", end="")
    for j in range(1):
        print("/", end="")
    print()

------
|    /
|   /
|  /
| /
|/

With out nested loops

In [166]:
for i in range(5):
    print(str(i+1)*(i+1))
print('\n')
for i in reversed(range(5)):
    print(str(i+1)*(i+1))
print('\n')
row=5
for i in range(row):
    print(str(i+1)*(row-i))
print('\n')
row=5
for i in range(row):
    print(str(row)*(row-i))

1
22
333
4444
55555


55555
4444
333
22
1


11111
2222
333
44
5


55555
5555
555
55
5

In [167]:
total=9
for i in reversed(range(4)):
    i+=1
    j=total-(2*i)
    print('#'*i+'*'*j+'+'*i)

####*++++
###***+++
##*****++
#*******+

In [169]:
for j in range(4):
  print('*\t'*j)
for j in range(2,0,-1):
  print('*\t'*j)

*
*	*
*	*	*
*	*
*

In [171]:
n=int(input('Enter the no of * u need'))
for i in range(0, n):
    for j in range(0, i + 1):
        print("*", end=' ')
    print()

for i in range(n
               , 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print()

Enter the no of * u need10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*